.chinchillaRedact {
  width: 100%;

  &__form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 24px;
    padding: 40px 0;

    @include mq('tablet', 'phone') {
      grid-template-columns: 1fr 1fr;
    }

    @include mq('phone') {
      grid-template-columns: 1fr;
    }
  }

  &__photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 16px;

    @include mq('tablet') {
      grid-template-columns: 1fr;
    }
  }

  &__uploadPhoto {
    max-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #828282;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;

    & input {
      display: none;
    }

    &:hover {
      box-shadow: none;
    }

    &::before {
      content: '';
      padding-bottom: 100%;
      display: inline-block;
      vertical-align: top;
    }
  }

  &__photo {
    background: no-repeat center / cover;
  }
}
