.paddingRight,
.baseContainer {
  padding-right: 80px;

  @include mq("desktop", "tablet") {
    padding-right: 40px;
  }

  @include mq("tablet", "tablet-small") {
    padding-right: 24px;
  }

  @include mq("tablet-small", "phone") {
    padding-right: 12px;
  }

  @include mq("phone") {
    padding-right: 8px;
  }
}

.paddingLeft,
.baseContainer {
  padding-left: 80px;

  @include mq("desktop", "tablet") {
    padding-left: 40px;
  }

  @include mq("tablet", "tablet-small") {
    padding-left: 24px;
  }

  @include mq("tablet-small", "phone") {
    padding-left: 12px;
  }

  @include mq("phone") {
    padding-left: 8px;
  }
}

.baseContainer {
  width: 100%;
}
